h1.one {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
div.honda {
    display: flex;
    background-color: lightgrey;
    border: 5px solid gray;
    width: 300px;
    height: 150px;
    flex-wrap: nowrap;
    float: left;
}